*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    color: inherit;
}
.yellow{
    color: yellow;
}
.out-wrapper{
    min-height: 100vh;
    background-color: antiquewhite;
    font-family: sans-serif;
}
.wrapper{
    min-width: 720px;
width: 45%;
margin: auto;
background-color:white;
}
.header{
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.register,
.social{
    width: 45%;
    padding: 20px 0;
}
.register{
    display: flex;
    flex-direction: column;
}
.social>ul{
list-style: none;
padding-left: 0;
}

.btn{
    text-transform: uppercase;
    color: white;
    display: block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
}
.fb{
background-color: rgb(22, 134, 225) ;
}
.google{
    background-color:rgb(90, 162, 222);
}
.twich{
    background-color:rgb(167, 14, 190) ;
}
.apple{
    background-color:rgb(6, 9, 12) ;
}