*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    color: inherit;
}
.yellow{
    color: yellow;
}
.out-wrapper{
    min-height: 100vh;
    background-color: antiquewhite;
    font-family: sans-serif;
}
.wrapper{
    min-width: 720px;
width: 45%;
margin: auto;
background-color:white;
}
.header{
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.register,
.social{
    width: 40%;
    padding: 20px 0;
}
.register{
    display: flex;
    flex-direction: column;
}
.register>*{
margin-bottom: 15px;
}
.register>label>input:not(input[type="checkbox"]){
    width: 100%;
    border: none;
border-bottom: 1px solid gray;
font-size: 1.1em;
padding-bottom: 7px;
color: #aaa;
}
.register>label>input:not(input[type="checkbox"]):hover{
    outline: none;
    border-bottom:1px solid #000;}
.register>label>input:not(input[type="checkbox"]):focus{
    outline: none;
    border-bottom:1px solid #280003 ;
}
.register>label>input>[type="date"]{
    color: #aaa;
    font-family: inherit;
}
.register>label>input::placeholder{
    color: #aaa;
}
.register>input[type="submit"]{
    background-color: #280033;
    color: white;
  }
  .register>input[type="submit"]:hover{
background-color:rgb(82, 26, 82);
  }

  .register>label>input[type="checkbox"]{
    height: 0;
    width: 0;
    margin-left: 20px;
  }
.register>label>input[type="checkbox"]::before{
    content:'';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    transform: translateX(-10px) translateY(-10px);
}
  .register>label>input[type="checkbox"]:checked::before{
    content:'\2713';
    line-height: 0.7em;
  }
.social>ul{
list-style: none;
padding-left: 0;
}

.btn{
    text-transform: uppercase;
    color: white;
    display: block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
}
.fb{
background-color: rgb(22, 134, 225) ;
}
.google{
    background-color:rgb(90, 162, 222);
}
.twich{
    background-color:rgb(167, 14, 190) ;
}
.apple{
    background-color:rgb(6, 9, 12) ;
}
.btn>i{
    background-color: white;
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius:3px;
    position: absolute;
    left: 5px;
    top: 5px;
    line-height: 25px;
}

.h2{
    font-weight: 1.1em;
}
.fb>i{
    color: (22, 134, 225);
}
.google>i{
    color:rgb(90, 162, 222); 
}
.twich>i{
    color:rgb(167, 14, 190) ;
}
.apple>i{
    color: rgb(6, 9, 12) ;
}